.cake-sql-log {
	background: #000;
	font-size: 0.8rem;
	width: 100%;

	caption {
		background: rgba(#000,0.8);
		padding: 0.5rem;
		text-transform: uppercase;
	}

	tr {
		display: none;
	}

	th, td {
		padding: 0.5rem;
	}
}