/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 14, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 18, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 20, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 23, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 27, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 30, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* nav block > http://csswizardry.com/2011/09/the-nav-abstraction/ */
/* line 48, ../sass/_helpers.scss */
.nav {
  list-style: none;
  margin-left: 0;
}

/* line 52, ../sass/_helpers.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/* media block > http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
/* line 60, ../sass/_helpers.scss */
.media {
  margin: 10px;
}

/* line 61, ../sass/_helpers.scss */
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

/* line 62, ../sass/_helpers.scss */
.media .img {
  float: left;
  margin-right: 10px;
}

/* line 63, ../sass/_helpers.scss */
.media .img img {
  display: block;
}

/* line 64, ../sass/_helpers.scss */
.media .imgExt {
  float: right;
  margin-left: 10px;
}

/* line 11, ../sass/_grids.scss */
.container {
  margin: 0 auto;
  max-width: 60rem;
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  /* line 17, ../sass/_grids.scss */
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /* line 22, ../sass/_grids.scss */
  .column .full {
    width: 100%;
  }
  /* line 25, ../sass/_grids.scss */
  .column .two-thirds {
    width: 66.7%;
  }
  /* line 28, ../sass/_grids.scss */
  .column .half {
    width: 50%;
  }
  /* line 31, ../sass/_grids.scss */
  .column .third {
    width: 33.3%;
  }
  /* line 34, ../sass/_grids.scss */
  .column .fourth {
    width: 24.95%;
  }
  /* line 37, ../sass/_grids.scss */
  .column .flow-opposite {
    float: right;
  }
}

/* endif */
/* line 1, ../sass/_global/_cake.scss */
.cake-sql-log {
  background: #000;
  font-size: 0.8rem;
  width: 100%;
}
/* line 6, ../sass/_global/_cake.scss */
.cake-sql-log caption {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  text-transform: uppercase;
}
/* line 12, ../sass/_global/_cake.scss */
.cake-sql-log tr {
  display: none;
}
/* line 16, ../sass/_global/_cake.scss */
.cake-sql-log th, .cake-sql-log td {
  padding: 0.5rem;
}

/* line 4, ../sass/_global/_links.scss */
.action {
  background: #00ccff;
  border: none;
  color: #000;
  display: block;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 0.5rem auto 1rem;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
/* line 123, ../sass/_mixins.scss */
.action:hover, .action:focus {
  color: #000;
  opacity: 1;
}

/* line 6, ../sass/_global/_forms.scss */
form legend {
  font-family: "Doppio One", sans-serif;
}
/* line 10, ../sass/_global/_forms.scss */
form input, form select, form textarea {
  background-color: rgba(254, 254, 254, 0.9);
  border: #ffbe1e;
  border-radius: 0.3rem;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 20em) {
  /* line 10, ../sass/_global/_forms.scss */
  form input, form select, form textarea {
    display: block;
    margin: 0.5rem auto;
    width: 50%;
  }
}
/* line 28, ../sass/_global/_forms.scss */
form label {
  display: block;
  padding-top: 0.5rem;
}
@media screen and (min-width: 20em) {
  /* line 28, ../sass/_global/_forms.scss */
  form label {
    text-align: center;
  }
}
/* line 37, ../sass/_global/_forms.scss */
form .submit input,
form button {
  cursor: pointer;
  display: block;
  background: #ffcc00;
  border: none;
  color: #000;
  display: block;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 0.5rem auto 1rem;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
/* line 123, ../sass/_mixins.scss */
form .submit input:hover, form .submit input:focus,
form button:hover,
form button:focus {
  color: #000;
  opacity: 1;
}
/* line 44, ../sass/_global/_forms.scss */
form .input {
  margin-bottom: 1rem;
}
/* line 48, ../sass/_global/_forms.scss */
form .checkbox {
  margin: 0 auto 1rem;
  width: 50%;
}
/* line 52, ../sass/_global/_forms.scss */
form .checkbox input {
  display: inline-block;
  margin: 0.6rem 1rem;
  vertical-align: top;
  width: auto;
}
/* line 59, ../sass/_global/_forms.scss */
form .checkbox label {
  display: inline-block;
  text-align: left;
  width: 86%;
}

/* line 7, ../sass/_sections/_users/_login.scss */
.users h2 {
  margin-bottom: 1rem;
  text-align: center;
}
/* line 12, ../sass/_sections/_users/_login.scss */
.users .providers {
  margin: 2rem 0 2rem;
  padding: 0;
  text-align: center;
}
/* line 17, ../sass/_sections/_users/_login.scss */
.users .providers li {
  display: inline-block;
}
/* line 20, ../sass/_sections/_users/_login.scss */
.users .providers li a {
  color: #FFF;
  display: block;
  padding: 1rem 2rem;
  text-indent: -999rem;
  transition: all 0.3s ease;
  z-index: 5;
}
/* line 28, ../sass/_sections/_users/_login.scss */
.users .providers li a:hover {
  opacity: 0.8;
  z-index: 10;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
/* line 35, ../sass/_sections/_users/_login.scss */
.users .providers li a.facebook {
  background: #0074cb url(/img/svg/facebook.svg) no-repeat 50% 50%;
  background-size: 20px 40px;
}
/* line 39, ../sass/_sections/_users/_login.scss */
.users .providers li a.twitter {
  background: #64ccef url(/img/svg/twitter.svg) no-repeat 50% 50%;
  background-size: 40px 40px;
}
/* line 43, ../sass/_sections/_users/_login.scss */
.users .providers li a.google {
  background: #e55036 url(/img/svg/google.svg) no-repeat 50% 50%;
  background-size: 40px 40px;
}

/* GENERAL STYLES ================================= */
/* line 17, ../sass/styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* SITE STYLES ================================= */
/* line 25, ../sass/styles.scss */
body {
  font-family: helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/img/bokeh.jpg) no-repeat fixed 50% 0/cover;
  color: #fefefe;
}

/* line 34, ../sass/styles.scss */
a {
  color: #ffbe1e;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
/* line 38, ../sass/styles.scss */
a:hover {
  color: #e24234;
}

/* line 43, ../sass/styles.scss */
#container {
  max-width: 100%;
  text-align: left;
}
@media screen and (min-width: 20em) {
  /* line 43, ../sass/styles.scss */
  #container {
    width: 60em;
    max-width: 100%;
    margin: 0 auto;
  }
}

/* line 53, ../sass/styles.scss */
header, footer {
  clear: both;
  text-align: center;
  padding: 1em 0;
}

/* line 59, ../sass/styles.scss */
header {
  font-weight: normal;
}
/* line 61, ../sass/styles.scss */
header a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-family: helvetica, sans-serif;
}
/* line 64, ../sass/styles.scss */
header a:link, header a:visited {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fefefe;
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
  line-height: 4.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
/* line 77, ../sass/styles.scss */
header a:hover, header a:active, header a:focus {
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 83, ../sass/styles.scss */
nav {
  width: 95%;
  margin: 0 auto 2rem;
}
/* line 87, ../sass/styles.scss */
nav ul {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3rem;
  padding: 1rem 0;
  text-align: center;
}
@media screen and (min-width: 37.5em) {
  /* line 87, ../sass/styles.scss */
  nav ul {
    text-align: left;
  }
}
/* line 95, ../sass/styles.scss */
nav ul li {
  display: inline;
  line-height: 1.5;
}
/* line 99, ../sass/styles.scss */
nav ul li a {
  color: #fefefe;
  text-decoration: none;
  padding: 0.9rem 0.5rem;
  text-transform: uppercase;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
}
/* line 106, ../sass/styles.scss */
nav ul li a:hover {
  color: #ffbe1e;
  background-color: #656565;
}
@media screen and (min-width: 37.5em) {
  /* line 99, ../sass/styles.scss */
  nav ul li a {
    font-size: 15px;
    font-size: 0.9375rem;
    padding: 0.9rem 1rem;
  }
}

/* line 119, ../sass/styles.scss */
h1 {
  font-family: "Doppio One", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}

/* line 128, ../sass/styles.scss */
.login-list, .feature-list {
  max-width: 50em;
  margin: 0 auto;
  padding: 1rem 0;
}
/* line 132, ../sass/styles.scss */
.login-list h2, .feature-list h2 {
  font-family: "Doppio One", sans-serif;
  font-size: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}

/* line 143, ../sass/styles.scss */
.domain-list {
  width: 100%;
  max-width: 50em;
}
/* line 146, ../sass/styles.scss */
.domain-list thead {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 2rem;
  width: 100%;
}
/* line 152, ../sass/styles.scss */
.domain-list .list-domain-name {
  width: 40%;
}
/* line 156, ../sass/styles.scss */
.domain-list .list-expiry {
  width: 30%;
}
/* line 160, ../sass/styles.scss */
.domain-list .expiry {
  width: 30%;
}

/* line 167, ../sass/styles.scss */
.social-login-list li {
  list-style: none;
  display: inline-block;
  width: 22.3%;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 0.33rem;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 175, ../sass/styles.scss */
.social-login-list li:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 178, ../sass/styles.scss */
.social-login-list li a {
  color: rgba(0, 0, 0, 0.7);
}

/* line 185, ../sass/styles.scss */
.feature-list ul {
  margin: 0;
  padding: 0;
}
/* line 188, ../sass/styles.scss */
.feature-list ul li {
  display: inline-block;
  width: 47%;
  margin: 0 0 1rem;
  padding: 1rem !important;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  min-height: 3rem;
  vertical-align: top;
}
/* line 199, ../sass/styles.scss */
.feature-list ul h3 {
  display: inline;
  font-weight: bold;
}

/* line 205, ../sass/styles.scss */
.cta {
  background-color: #ffbe1e;
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-align: center;
  border-radius: 0.3rem;
  font-weight: bold;
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 216, ../sass/styles.scss */
.cta a, .cta a:visited {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 219, ../sass/styles.scss */
.cta a:hover, .cta a:visited:hover {
  color: rgba(0, 0, 0, 0.7);
}
/* line 223, ../sass/styles.scss */
.cta:hover {
  background-color: #ffdb84;
}

/* line 229, ../sass/styles.scss */
.label {
  font-style: italic;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0.33rem;
  border-radius: 0.23rem;
  margin: 0.33rem 1rem;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.6);
}

/* line 240, ../sass/styles.scss */
.coming-soon {
  width: 8rem;
}

/* line 244, ../sass/styles.scss */
#content {
  width: 95%;
  margin: 0 auto;
}
/* line 247, ../sass/styles.scss */
#content p {
  line-height: 1.5;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 47.5em) {
  /* line 247, ../sass/styles.scss */
  #content p {
    max-width: 50em;
    margin: 0 auto;
  }
}
/* line 257, ../sass/styles.scss */
#content ul {
  padding: 1rem;
}
/* line 260, ../sass/styles.scss */
#content li {
  line-height: 1.5;
  margin-left: 1rem;
  padding: 0.5rem 0;
  list-style-type: disc;
}

/* line 268, ../sass/styles.scss */
#cta_godaddy, #cta_1and1 {
  border-top: 1px solid rgba(254, 254, 254, 0.6);
  padding: 1rem 0;
}
/* line 271, ../sass/styles.scss */
#cta_godaddy h2, #cta_1and1 h2 {
  font-family: "Doppio One", sans-serif;
  text-align: center;
  padding-bottom: 1rem;
  line-height: 1.5;
}

/* line 279, ../sass/styles.scss */
.cake-error {
  background: rgba(230, 30, 30, 0.8);
  padding: 1em;
}

/* line 286, ../sass/styles.scss */
footer {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  color: rgba(254, 254, 254, 0.7);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  padding: 1rem 0;
}
/* line 293, ../sass/styles.scss */
footer a {
  color: #ffbe1e;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 297, ../sass/styles.scss */
footer a:hover {
  color: #e24234;
}

/* line 303, ../sass/styles.scss */
.shortcuts {
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}
/* line 307, ../sass/styles.scss */
.shortcuts ol {
  list-style: none;
}
/* line 310, ../sass/styles.scss */
.shortcuts ol li {
  display: inline-block;
}
/* line 313, ../sass/styles.scss */
.shortcuts ol li a {
  padding: 0.5em 0.1em;
}
