.login-list, .feature-list {
    max-width: 50em;
    margin: 0 auto;
    padding: 1rem 0;
}

.login-list h2, .feature-list h2{
  font-family: "Doppio One", sans-serif;
  font-size: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center; }
}

table.domain-list {
	width:100%;
	max-width:50em;
}

.domain-list thead {
	font-weight: bold;
	background-color: rgba(0,0,0,.6);
	line-height: 2rem;
	width: 100%;
	}

.list-domain-name {
	width: 40%;
}

.list-expiry {
	width:30%;
}

.expiry {
	width: 30%;
}

.feature-list ul {
	margin: 0;
	padding: 0;
}

.feature-list li {
	display: inline-block;
	width: 47%;
	margin: 0 0 1rem;
	padding: 1rem!important;
	text-align: center;
	background-color: rgba(255,255,255,.3);
	border-radius: 0.5rem;
	min-height:3rem;
	vertical-align: top;
}

.feature-list h3 {
	display: inline;
	font-weight: bold;
}