html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* nav block > http://csswizardry.com/2011/09/the-nav-abstraction/ */
.nav {
  list-style: none;
  margin-left: 0; }

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1; }

/* media block > http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media {
  margin: 10px; }

.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.media .img {
  float: left;
  margin-right: 10px; }

.media .img img {
  display: block; }

.media .imgExt {
  float: right;
  margin-left: 10px; }

.container {
  margin: 0 auto;
  max-width: 60rem;
  width: 100%; }

@media screen and (min-width: 37.5em) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem; }
    .column .full {
      width: 100%; }
    .column .two-thirds {
      width: 66.7%; }
    .column .half {
      width: 50%; }
    .column .third {
      width: 33.3%; }
    .column .fourth {
      width: 24.95%; }
    .column .flow-opposite {
      float: right; } }

/* endif */
.cake-sql-log {
  background: #000;
  font-size: 0.8rem;
  width: 100%; }
  .cake-sql-log caption {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    text-transform: uppercase; }
  .cake-sql-log tr {
    display: none; }
  .cake-sql-log th, .cake-sql-log td {
    padding: 0.5rem; }

.action {
  background: #00ccff;
  border: none;
  color: #000;
  display: block;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 0.5rem auto 1rem;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  width: 90%; }
  .action:hover, .action:focus {
    color: #000;
    opacity: 1; }

form legend {
  font-family: "Doppio One", sans-serif; }
form input, form select, form textarea {
  background-color: rgba(254, 254, 254, 0.9);
  border: #ffbe1e;
  border-radius: 0.3rem;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 1rem;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 20em) {
    form input, form select, form textarea {
      display: block;
      margin: 0.5rem auto;
      width: 50%; } }
form label {
  display: block;
  padding-top: 0.5rem; }
  @media screen and (min-width: 20em) {
    form label {
      text-align: center; } }
form .submit input,
form button {
  cursor: pointer;
  display: block;
  background: #ffcc00;
  border: none;
  color: #000;
  display: block;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 0.5rem auto 1rem;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  width: 90%; }
  form .submit input:hover, form .submit input:focus,
  form button:hover,
  form button:focus {
    color: #000;
    opacity: 1; }
form .input {
  margin-bottom: 1rem; }
form .checkbox {
  margin: 0 auto 1rem;
  width: 50%; }
  form .checkbox input {
    display: inline-block;
    margin: 0.6rem 1rem;
    vertical-align: top;
    width: auto; }
  form .checkbox label {
    display: inline-block;
    text-align: left;
    width: 86%; }

.users h2 {
  margin-bottom: 1rem;
  text-align: center; }
.users .providers {
  margin: 2rem 0 2rem;
  padding: 0;
  text-align: center; }
  .users .providers li {
    display: inline-block; }
    .users .providers li a {
      color: #FFF;
      display: block;
      padding: 1rem 2rem;
      text-indent: -999rem;
      transition: all 0.3s ease;
      z-index: 5; }
      .users .providers li a:hover {
        opacity: 0.8;
        z-index: 10;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2); }
      .users .providers li a.facebook {
        background: #0074cb url(/img/svg/facebook.svg) no-repeat 50% 50%;
        background-size: 20px 40px; }
      .users .providers li a.twitter {
        background: #64ccef url(/img/svg/twitter.svg) no-repeat 50% 50%;
        background-size: 40px 40px; }
      .users .providers li a.google {
        background: #e55036 url(/img/svg/google.svg) no-repeat 50% 50%;
        background-size: 40px 40px; }

/* GENERAL STYLES ================================= */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* SITE STYLES ================================= */
body {
  font-family: helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/img/bokeh.jpg) no-repeat fixed 50% 0/cover;
  color: #fefefe; }

a {
  color: #ffbe1e;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none; }
  a:hover {
    color: #e24234; }

#container {
  max-width: 100%;
  text-align: left; }
  @media screen and (min-width: 20em) {
    #container {
      width: 60em;
      max-width: 100%;
      margin: 0 auto; } }

header, footer {
  clear: both;
  text-align: center;
  padding: 1em 0; }

header {
  font-weight: normal; }
  header a {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-family: helvetica, sans-serif; }
    header a:link, header a:visited {
      background-color: rgba(0, 0, 0, 0.7);
      color: #fefefe;
      font-size: 14px;
      font-size: 0.875rem;
      display: inline-block;
      line-height: 4.2rem;
      padding: 0.5rem;
      text-transform: uppercase;
      text-decoration: none;
      width: 5rem;
      height: 5rem;
      border-radius: 50%; }
    header a:hover, header a:active, header a:focus {
      background-color: rgba(0, 0, 0, 0.7); }

nav {
  width: 95%;
  margin: 0 auto 2rem; }
  nav ul {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3rem;
    padding: 1rem 0;
    text-align: center; }
    @media screen and (min-width: 37.5em) {
      nav ul {
        text-align: left; } }
    nav ul li {
      display: inline;
      line-height: 1.5; }
      nav ul li a {
        color: #fefefe;
        text-decoration: none;
        padding: 0.9rem 0.5rem;
        text-transform: uppercase;
        font-size: 13px;
        font-size: 0.8125rem;
        font-weight: bold; }
        nav ul li a:hover {
          color: #ffbe1e;
          background-color: #656565; }
        @media screen and (min-width: 37.5em) {
          nav ul li a {
            font-size: 15px;
            font-size: 0.9375rem;
            padding: 0.9rem 1rem; } }

h1 {
  font-family: "Doppio One", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center; }

.login-list, .feature-list {
  max-width: 50em;
  margin: 0 auto;
  padding: 1rem 0; }
  .login-list h2, .feature-list h2 {
    font-family: "Doppio One", sans-serif;
    font-size: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: center; }

.domain-list {
  width: 100%;
  max-width: 50em; }
  .domain-list thead {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 2rem;
    width: 100%; }
  .domain-list .list-domain-name {
    width: 40%; }
  .domain-list .list-expiry {
    width: 30%; }
  .domain-list .expiry {
    width: 30%; }

.social-login-list li {
  list-style: none;
  display: inline-block;
  width: 22.3%;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 0.33rem;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .social-login-list li:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .social-login-list li a {
    color: rgba(0, 0, 0, 0.7); }

.feature-list ul {
  margin: 0;
  padding: 0; }
  .feature-list ul li {
    display: inline-block;
    width: 47%;
    margin: 0 0 1rem;
    padding: 1rem !important;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    min-height: 3rem;
    vertical-align: top; }
  .feature-list ul h3 {
    display: inline;
    font-weight: bold; }

.cta {
  background-color: #ffbe1e;
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-align: center;
  border-radius: 0.3rem;
  font-weight: bold;
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-size: 1.125rem; }
  .cta a, .cta a:visited {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .cta a:hover, .cta a:visited:hover {
      color: rgba(0, 0, 0, 0.7); }
  .cta:hover {
    background-color: #ffdb84; }

.label {
  font-style: italic;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0.33rem;
  border-radius: 0.23rem;
  margin: 0.33rem 1rem;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.6); }

.coming-soon {
  width: 8rem; }

#content {
  width: 95%;
  margin: 0 auto; }
  #content p {
    line-height: 1.5;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    padding-bottom: 1rem; }
    @media screen and (min-width: 47.5em) {
      #content p {
        max-width: 50em;
        margin: 0 auto; } }
  #content ul {
    padding: 1rem; }
  #content li {
    line-height: 1.5;
    margin-left: 1rem;
    padding: 0.5rem 0;
    list-style-type: disc; }

#cta_godaddy, #cta_1and1 {
  border-top: 1px solid rgba(254, 254, 254, 0.6);
  padding: 1rem 0; }
  #cta_godaddy h2, #cta_1and1 h2 {
    font-family: "Doppio One", sans-serif;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 1.5; }

.cake-error {
  background: rgba(230, 30, 30, 0.8);
  padding: 1em; }

footer {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  color: rgba(254, 254, 254, 0.7);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  padding: 1rem 0; }
  footer a {
    color: #ffbe1e;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    footer a:hover {
      color: #e24234; }

.shortcuts {
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.8rem; }
  .shortcuts ol {
    list-style: none; }
    .shortcuts ol li {
      display: inline-block; }
      .shortcuts ol li a {
        padding: 0.5em 0.1em; }
