// =====================================
//    Variables
// -------------------------------------
//
// Contents
//
// 01. Sizing
// 02. Colours
//
// =====================================

// 00. debug

	$debugMode: false;

// 01. Sizing

	$font-size: 16;
	$line-height: 24;


// 02. Colours

	$maincol: rgb(255,190,30);
	$seccol: #e24234;
	$altcol: #2a7bda;
	$white: #fefefe;
	$black: rgba(0,0,0,0.7);
	
// 03. Typography

	$headType: 'Doppio One', sans-serif;
	$bodyType: helvetica, sans-serif;