// =====================================
//    Variables
// -------------------------------------
//
// Contents
//
// 01. Sizing
// 02. Colours
//
// =====================================

// 00. debug

	$debug-mode: false;

// 01. Sizing

	$font-size: 16;
	$line-height: 24;


// 02. Colours

	$main-col: rgb(255,190,30);
	$sec-col: #e24234;
	$alt-col: #2a7bda;
	$white: #fefefe;
	$black: rgba(0,0,0,0.7);
	
// 03. Typography

	$head-type: 'Doppio One', sans-serif;
	$body-type: helvetica, sans-serif;