@import "_reset"; // Lets level the playing field
@import "_vars"; // Import the variables
@import "_mixins"; // Import the mixins file
@import "_helpers.scss"; // some standard helpers
@import "_mq.scss"; // load in the media queries
@import "_grids.scss"; // lets grid this baby up.
@import "_debug.scss"; // deeeebuuuuuuuug!

@import "_global/_forms";

@import "_sections/_users/_login";

/* GENERAL STYLES ================================= */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* SITE STYLES ================================= */

body {
	font-family: $body-type;
  background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.3)
    ), url(/img/bokeh.jpg) no-repeat fixed 50% 0 / cover;
	color: $white;
}

a {
	color: $main-col;
	@include transition(0.1s);
	text-decoration: none;
	&:hover {
		color: $sec-col;
	}
}

#container {
	max-width: 100%;
	text-align: left;
	@include mq($tiny) {
		width: 60em;
		max-width: 100%;
		margin: 0 auto;
	}
}

header, footer {
	clear: both;
	text-align: center;
	padding: 1em 0;
}

header {
	font-weight: normal;
	a{	
		@include transition;
		font-family: $body-type;
		&:link, &:visited {
			background-color: darken($black, 20%);
			color: $white;
			@include font-size(14);
			display: inline-block;
			line-height: 4.2rem;
			padding: 0.5rem;
			text-transform: uppercase;
			text-decoration: none;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
		}
		&:hover, &:active, &:focus {
			background-color: darken($black, 50);
		}
	}
}

nav {
	width: 95%;
	margin: 0 auto 2rem;

	ul {
		background-color: $black;
		border-radius: 0.3rem;
		padding: 1rem 0;
		text-align: center;
		@include mq($small) {
			text-align: left;
		}
		li {
			display: inline;
			line-height: 1.5;
			
			a {
				color: $white;
				text-decoration: none;
				padding: 0.9rem 0.5rem;
				text-transform: uppercase;
				@include font-size(13);
				font-weight: bold;
				&:hover {
					color: $main-col;
					background-color: darken($white, 60%);
				}
				@include mq ($small) {
					@include font-size(15);
					padding: 0.9rem 1rem;
				}
			}
		}
	}
}

h1 {
	font-family: $head-type;
	@include font-size(32);
	line-height: 1.5;
	margin-bottom: 1em;
	text-align: center;
}

.cta {
    background-color: $main-col;
    text-decoration: none;
    padding:  1rem;
    display: block;
    text-align: center;
    border-radius: 0.3rem;
    font-weight:  bold;
    margin: 2rem 0;
    color: $black;
    @include font-size(18);
    a, a:visited {

    	@include transition;
    	&:hover {
    		color: darken($black, 20);
    	}
    }
    &:hover {
    	background-color: lighten($main-col, 20);
    }
}

#content {
	width: 95%;
	margin: 0 auto;
	p {
		line-height: 1.5;
		font-family: $body-type;
		@include font-size(16);
		padding-bottom: 1rem;
		@include mq($medium) {
			max-width: 50em;
			margin: 0 auto;
		}
	}
	ul {
		padding: 1rem;
	}
	li {
		line-height: 1.5;
		margin-left: 1rem;
		padding:0.5rem 0;
		list-style-type: disc;
	}
}

#cta_godaddy, #cta_1and1 {
	border-top: 1px solid rgba($white, 0.6);
	padding: 1rem 0;
	h2 {
		font-family: $head-type;
		text-align: center;
		padding-bottom: 1rem;
		line-height: 1.5;
	}
}

.cake-error {
	background: rgba(230,30,30,0.8);
 	padding: 1em;
}



footer {
	background-color: rgba($black, 0.4);
	margin-top: 2rem;
	color: rgba($white,.7);
	@include font-size(12);
	line-height: 2;
	padding: 1rem 0;
	a {
		color: $main-col;
		text-decoration: none;
		@include transition(0.1s);
		&:hover {
			color: $sec-col;
		}
	}
}

.shortcuts {
  background: rgba(0,0,0,0.1);
  font-size: 0.8rem;
  
  ol {
    list-style: none;
    
    li {
      display: inline-block;
      
      a {
        padding: 0.5em 0.1em;
      }
    }
  }
}

